// Place all the styles related to the api/Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-content{
  display:flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 10px auto;
}
.event-list-section {
  width: 70%;
  min-width: 500px;
  margin-left: 30px;
  margin-right: 20px;
}
.description{
  display: block;
  h2{
    margin-bottom: 10px;
    font-size: 20px;
  }
  p{


  }
}
.event-listing{
  a{
    text-decoration: none;

  }
}
.single-event{
  display: flex;
  background-color: white;
  margin-bottom: 10px;
  img {
    width: 200px;
    height: 100px;
    display: block;
  }
}
.event-info{
  height: 100px;
  span{
    margin-top: 10px;
    margin-left: 10px;
  }
  h2{
    margin-top: 10px;
    margin-left: 10px;
  }
}
.sidebar{
  width: 130px;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  img{
    width: 100px;
    height: 20px;
  }
}
.sidebar-content{
  li{
    list-style: none;
    margin: 0 0 0 -40px;
    padding: 5px;
    border-bottom: 1px solid #dddddd;
    display: block;
  }
}
ul.sub-category, .sub-event-type, .sub-date, .sub-price{
  display: none;
}
.clearfix:after {
   content: "";
   visibility: hidden;
   display: block;
   height: 10px;
   clear: both;
}
