.event-details{
  width: 75%;
  margin: 20px auto;
  border: 1px solid #dddddd;
}
.event-header{
  display: flex;
  border-bottom: 1px solid #dddddd;
  flex-wrap: wrap;
  img{
    height: 300px;
    min-width: 400px;
  }
  .right-element{
    margin: 10px;
    p{
      margin-bottom: 20px;
    }
    h2{
      font-size: 25px;
    }
  }
}
.event-buttons{
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #dddddd;
  button{
    background-color: #000;
    color: white;
    width: 150px;
    border: 1px solid black;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  // .bookmark-icon{
  //   display: inline;
  //   background-color: white;
  //   opactiy: 0.5;
  // }
}
.main-content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .section-header{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
  }pre{
    white-space: pre-wrap;
  }
  .event-main{
    width: 69%;
    margin-right: 2%;
  }
  .side-content{
    width: 29%;
    .event-control{
      display: flex;
      button{
        background-color: #000;
        color: white;
        border: 1px solid black;
        margin-right: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        cursor: pointer;
      }
      a:visited{
        color: white;
      }
      a{
        color: white;
      }
    }
  }
}
