.register-event-box{
  margin: 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  width: 50%;
  background-color: white;
  h2{
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
  } p {
    text-align: center;
    padding: 5px;
  }button {
    display: block;
    background-color: #0093D7;
    border: 1px solid #0093D7;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    margin-bottom: 20px;
    a, a:visited {
      color: white;
      text-transform: uppercase;
    }
  }
}
.organize-own-event{
  margin: 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  width: 50%;
  background-color: white;
  p{
    text-align: center;
    padding: 5px;
  }button {
    display: block;
    background-color: #0093D7;
    border: 1px solid #0093D7;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    margin-bottom: 20px;
    a, a:visited {
      color: white;
      text-transform: uppercase;
    }
  }
}
.registration-success{
  a, a:visited{
    text-decoration: underline;
    color: #5D7078;
    padding:20px;
  }
  margin: 0 auto;
  width: 70%
}
