// Place all the styles related to the Static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: #F8F8FA;
  // color: #5D7078;
  // font-family: "Benton Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-size: 15px;
  color: #45494E;
  letter-spacing: .5px;
}
